@model SacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sacrament Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingLeaderName" class="control-label"></label>
                <input asp-for="ConductingLeaderName" class="form-control" />
                <span asp-validation-for="ConductingLeaderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <input asp-for="OpeningHymn" class="form-control" />
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateHymnOrMusicalNumber" class="control-label"></label>
                <input asp-for="IntermediateHymnOrMusicalNumber" class="form-control" />
                <span asp-validation-for="IntermediateHymnOrMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayerPerson" class="control-label"></label>
                <input asp-for="OpeningPrayerPerson" class="form-control" />
                <span asp-validation-for="OpeningPrayerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayerPerson" class="control-label"></label>
                <input asp-for="ClosingPrayerPerson" class="form-control" />
                <span asp-validation-for="ClosingPrayerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSpeakers" class="control-label"></label>
                <input asp-for="NumberOfSpeakers" class="form-control" />
                <span asp-validation-for="NumberOfSpeakers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerSubjects" class="control-label"></label>
                <input asp-for="SpeakerSubjects" class="form-control" />
                <span asp-validation-for="SpeakerSubjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
